<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<head>
	<title>Dashboard</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand"
	   th:href="@{/dashboard}">Dashboard</a>
	<button class="navbar-toggler"
	        type="button"
	        data-toggle="collapse"
	        data-target="#navbarSupportedContent"
	        aria-controls="navbarSupportedContent"
	        aria-expanded="false"
	        aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse"
	     id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link"
				   th:href="@{/}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   th:href="@{/dashboard}">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   th:href="@{/profile}">Profile</a>
			</li>
		</ul>
		<div sec:authorize="isAuthenticated()">

			<form class="form-inline my-2 my-lg-0"
			      method="POST"
			      th:action="@{/logout}">
				<button class="btn btn-outline-success my-2 my-sm-0"
				        type="submit">Logout
				</button>
			</form>
		</div>
		<div sec:authorize="isAnonymous()">
			<a class="btn btn-outline-success my-2 my-sm-"
			   th:href="@{/login}"
			   role="button">Login</a>
		</div>
	</div>
</nav>

<div class="container">
	<div th:if="${param.error}">
		<div class="alert alert-danger"
		     role="alert">
			Unable to login. Check your username and password.
		</div>

	</div>


	<h2>Tell us about your feeling, <span th:object="${user}"
	                                      th:text="${user?.username}">NAME</span>!
	</h2>

	<form method="post"
	      th:object="${social}"
	      th:action="@{/dashboard}">
		<h2>Social Club</h2>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="status">Status</label>
					<textarea class="form-control"
					          id="status"
					          th:field="*{status}"
					          rows="7"></textarea>
				</div>
				<p class="alert alert-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
			</div>
		</div>

		<div class="row">

			<div class="col-md-12">
				<div class="form-group">
					<label for="gender2">Select your Location</label>
					<select class="form-control"
					        id="gender2"
					        th:field="*{location}"
					        name="location">
						<div th:each="locationData :${locations}">

							<option th:value="${locationData.id}"
							        th:text="${locationData.location}"

							></option>

						</div>

					</select>
				</div>
			</div>
		</div>


		<label for="private">Do you want your status private so that only you
		                     can see it?</label>
		<div class="radio">
			<label>
				<input type="radio"
				       th:field="*{isPrivate}"
				       id="private"
				       value="1"
				       checked>Yes
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio"
				       th:field="*{isPrivate}"
				       id="private2"
				       value="0"
				       checked>No
			</label>
		</div>

		<label for="newsletter">Do you want your status to be pinned at the
		                        top?</label>

		<div class="radio">
			<label>
				<input type="radio"
				       th:field="*{pinStatus}"
				       id="newsletter"
				       value="1"
				       checked>Yes
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio"
				       th:field="*{pinStatus}"
				       id="newsletter2"
				       value="0"
				       checked>No
			</label>
		</div>


		<button type="submit"
		        class="btn btn-primary">Submit
		</button>
	</form>
</div>

</body>
</html>