<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<link rel="stylesheet"
      th:href="@{/styles.css}"/>
<head>
	<title>Registration</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand"
	   th:href="@{/dashboard}">Dashboard</a>
	<button class="navbar-toggler"
	        type="button"
	        data-toggle="collapse"
	        data-target="#navbarSupportedContent"
	        aria-controls="navbarSupportedContent"
	        aria-expanded="false"
	        aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse"
	     id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link"
				   th:href="@{/}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   th:href="@{/dashboard}">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   th:href="@{/profile}">Profile</a>
			</li>
		</ul>
		<div sec:authorize="isAuthenticated()">

			<form class="form-inline my-2 my-lg-0"
			      method="POST"
			      th:action="@{/logout}">
				<button class="btn btn-outline-success my-2 my-sm-0"
				        type="submit">Logout
				</button>
			</form>
		</div>
		<div sec:authorize="isAnonymous()">
			<a class="btn btn-outline-success my-2 my-sm-"
			   th:href="@{/login}"
			   role="button">Login</a>
		</div>
	</div>
</nav>
<h1>Register</h1>

<section class="contact-from pt-4">
	<div class="container">

		<div class="row mt-5">
			<div class="col-md-7 mx-auto">
				<div class="form-wrapper">
					<div class="row">
						<div class="col-md-12">
							<h4>Registration form</h4>
						</div>
					</div>
					<form method="post"
					      th:action="@{/register}"
					      id="registerForm">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="email"
									       name="email"
									       placeholder="email"
									>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text"
									       name="username"

									       placeholder="username"/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="password"
									       name="password"

									       placeholder="password"/>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<input type="password"
									       name="confirm"

									       placeholder="Confirm password"/>
								</div>
							</div>


						</div>
						<div class="mt-3">
							<button class="btn btn-primary"
							        type="submit"
							        value="Register">Register
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</section>
</body>